body {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-family: 'Inter-Semibold', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #792085;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin: 45px;
}

.input-box {
  position: relative;
  width: 55vw;
  background-color: #ffffff;
  border-radius: 20px;
  border-radius: 20px;
  box-shadow: rgba(160, 160, 160, 0.12) 0px 2px 4px 0px,
    rgba(160, 160, 160, 0.32) 0px 2px 16px 0px;
}

.task-input {
  width: 80%;
  height: 42px;
  font-family: 'Inter-Semibold', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  padding-left: 20px;
  border-radius: 20px;
  border: none;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: #c4c4c4;
}

.add-Btn {
  position: absolute;
  width: 15%;
  top: 0;
  right: 0;
  height: 44px;
  font-family: 'Inter-Semibold', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
  background-color: #ebccff;
  border-radius: 20px;
  border: none;
  padding: 0;
}

.add-popup {
  width: 370px;
  display: flex !important;
  align-items: center;
  background-color: #f3dcff;
  border: 1px solid #9660ba;
  border-radius: 12px;
  padding: 24px 20px;
}

.add-icon {
  width: 30px;
  height: 30px;
  font-size: 6px;
  margin: 0;
  border: 2px solid #b487d2 !important;
  color: #b487d2 !important;
}

.swal2-html-container {
  color: #b487d2;
  font-size: 15px;
  padding: 10px;
}

.swal2-actions {
  margin: 0;
}

.add-confirm {
  background-color: #f3dcff !important;
  margin: 0;
  color: #999999;
  margin-left: 120px;
  padding: 0;
}

.add-text .list-box {
  width: 55vw;
  height: 40vh;
  margin-top: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(160, 160, 160, 0.12) 0px 2px 4px 0px,
    rgba(160, 160, 160, 0.32) 0px 2px 16px 0px;
}

.list-box {
  width: 55vw;
  height: 40vh;
  margin-top: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(160, 160, 160, 0.12) 0px 2px 4px 0px,
    rgba(160, 160, 160, 0.32) 0px 2px 16px 0px;
}

.filter-nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;
  gap: 20px;
  padding-left: 10px;
}

.line {
  height: 4px;
  background-color: #792085;
  border-radius: 5px;
  position: absolute;
  width: 0px;
  left: 0;
  top: 0;
  padding: 0;
  transition: 0.5s;
}

.nav-btn {
  border: none;
  border-radius: 12px;
  padding: 20px 10px 10px 10px;
  background-color: #fff;
  font-family: 'Inter-Semibold', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #a6a6a6;
  font-weight: 400;
}

.ac {
  color: #4c4c4c;
  font-weight: 600;
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 14px 0 20px;
}

li {
  list-style: none;
}

.list-area {
  display: flex;
  align-items: center;
}

.task-list {
  width: 80%;
  word-wrap: break-word; /* 긴 문자열이 자동으로 줄바꿈 되도록 함 */
  overflow-wrap: break-word; /* overflow가 발생할 경우 줄바꿈 */
  white-space: normal;
}

.check-btn {
  color: #cc97d4;
  background-color: #fff;
  padding: 24px 24px 20px 4px;
  border: none;
}

.task-done {
  text-decoration: line-through;
  color: #c3c3c3;
  font-weight: 100;
}

.delete-btn {
  color: #707070;
  background-color: #fff;
  border: none;
}

.clear-box {
  width: 80px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #b3b3b3;
  color: white;
  margin-top: 30px;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  main h1 {
    font-size: 30px;
    margin: 35x;
  }

  .input-box {
    width: 90vw;
  }

  .list-box {
    width: 90vw;
    height: 50vh;
  }

  .add-popup {
    width: 337px;
  }

  .add-confirm {
    margin-left: 90px;
  }
}
